@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

.VagaEmprego{
    font-family: 'Grandis', sans-serif;
}

.PesquisaDaVaga{
    background-color: #6E46AE;
    color: white;
    width:calc(100% - 60px) !important;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    padding-top: 30px;
}
.PesquisaDaVaga>h2{
    font-size: 22px;
}
.PesquisaDaVaga>p{
    font-size: 15px;
}

.PesquisarVagasLabel>img{
    width: 20px;
    position: absolute;
    margin-left: 25px;
    margin-top: 20px;
    
}
#PesquisarVagas{
 padding: 10px 0px 10px 60px;
 width: 80%;
 border:1px solid #a3a3a3;
 border-radius: 15px;
 outline: none;
 margin-top: 10px;

}
#PesquisarVagas::placeholder{
    color: #a3a3a3;
    font-family: 'Grandis', sans-serif;
    font-size: 12px;
    font-weight: 500;
}
#PesquisarVagas:hover{
    outline: auto;
    outline-color:#f8f8f8 ;
    
}
.PesquisaDaVaga{
    width: max-content;
    margin: auto;
    margin-top: 40px;
    
}
.PaginationVagas{
    width: max-content;
    margin: auto ;
    margin-bottom: 30px;
    display: flex;
    gap: 10px;
}
.PaginationVagas>button{
    font-family: 'Grandis', sans-serif;
    background-color: #6e46ae;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    margin-top: -5px;

}
.PaginationVagas>button:hover{
    background-color: #925fe6;
    cursor: pointer;
}
.PaginationVagas>button:disabled{
    background-color: #c3c2c4;
    cursor: auto;
   
}