@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&display=swap');
.CarreiraEmpregoMother{
    background-color:#f2f2f2 ;
}
.CarreiraEmprego{
    
    font-family: 'Grandis', sans-serif;
    margin-top: 70px;
    background-color: #845eff;
   position: relative;
   height: 1000px;
    padding-bottom: 60px;
    overflow-x: hidden;
}
.InfoCarreiraEmprego>h2{
    color: white;
    font-size: 25px;
    padding-top: 70px;
    padding-left: 30px;
    font-weight: 500;
    width: 330px;

}
.InfoCarreiraEmprego>h2>span{
    font-weight: 800;
}
.InfoCarreiraEmprego>p{
    color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-left: 30px;
    font-weight: 400;
    width: 300px;
    font-size: 17px;
}
.SaberMaisCarreiraEmpregoEntrar{
    text-decoration: none;
    color: #845eff;
    background-color: #ffffff;
    padding: 10px 25px;
    font-weight: 700;
    border-radius: 5px;
    margin-left: 30px;
    
}
.SaberMaisCarreiraEmpregoEntrar:hover{
    background-color: #392161;
    transition: background-color 0.3s ease;
    color: white;
}
.SaberMaisCarreiraEmpregoLink{
    text-decoration: none;
    color: white;
    font-weight: 700;
    margin-left: 30px;
    border: 1px solid white;
    padding: 10px 25px;
    border-radius: 10px;
}
.PessoaCell{
    width: 370px;
    margin-top: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
   
  
   
}
.PessoaCell2{
    display: none;
}
.SaberMaisCarreiraEmpregoLink:hover{
    color: white;
    background-color:#9878ff;
    transition:  background-color 0.4s ease;
}
.SaberMaisCarreiraEmprego{
    margin-top: 30px;
}
.SaberMaisCarreiraEmprego>img{
  margin-left: 20px;
  position: absolute;
}
.MarketingCarreiraEmprego{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.MarketingCarreiraEmprego>div{
    width: 250px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
}
.MarketingCarreiraEmprego>div>img{
    width: 50px;
    background-color: white;
    border-radius: 7px;
    
}
.MarketingCarreiraEmprego>div>h2{
    color: white;
    font-size: 15px;
    font-weight: 500;
}
.setaspessoas{
    width: 170px;
    margin-left: 10%;
    margin-top: 20px;
}
.MarketingCarreiraEmprego>div>p{
    color: rgb(151, 150, 150);
    font-size: 14px;
    font-weight: 500;
}
.imgCarreiraEmprego{
    display: none;
}
.alertasCarreira{
    margin-top:40px;
    color:white;
}
.alertasCarreira>article{
    display:flex;  
}
.alertasCarreira>article>img{
    width: 100px;
}
.alertasCarreira>article>img{
    height:max-content;
}
.alertasCarreira>article>div>h3{
    font-size:16px;
    width:220px;
    margin-top:20px;
    margin-bottom: 5px;
}
.alertasCarreira>article>div>p{
    font-size:13px;
    color:rgb(247, 247, 247);
    width: 250px;
}
.wave{
    display: none;
}
.wave>svg{
    width: 100%;
}
.setaalerta{
    display: none;
}



@media (min-width:700px) {
    
    .PessoaCell{
        display: none;
    }
    .PessoaCell2{
        position: absolute;
        bottom: 0;
        display: block;
        width: 350px;
        left: 5%;
    }
    .CarreiraEmprego{
        height: 600px;

    }

    


    .InfoCarreiraEmprego{
        position: absolute;
        right: 10%;
        padding-top: 20px;
    }
    .InfoCarreiraEmprego>h2{
        font-size: 30px;
        width: 400px;
    }
    .CarreiraEmprego>div{
        display: flex;
        gap:30px;
        width: 600px;
        margin: auto;
    }
    .imgCarreiraEmprego{
        display: block;
        
    }
    .imgCarreiraEmprego>img{
        width: 250px;
        border-radius: 5px;
        position: absolute;
    }
    .IMGMulherComputador{
        margin-top: 150px;
        z-index: 12;
    }
    .IMGAnimacao{
        margin-top: 70px;
    }
}
@media (min-width:1024px) {
    .IMGAnimacao{
        margin-left: 170px;
        width: 290px !important;
    }
    .CarreiraEmprego>div{
       display: flex;
        gap: 50px;

    }
    .InfoCarreiraEmprego>h2{
        font-size: 25px;
        padding-top: 80px;
        padding-left: 0;
        
    }
    .InfoCarreiraEmprego>p{
        margin-left: 0;
    }
    .MarketingCarreiraEmprego{
        flex-direction: row;
    }
    .MarketingCarreiraEmprego>div{
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
        width: 310px;
    }

}
@media (min-width:1200px) {
    
    .alertasCarreira2{
        margin-left: 300px;
    }
    .setaalerta{
        display: block;
        position: absolute;
        left:350px ;
        margin-top: -50px;
    }
    .CarreiraEmpregoMother{
        position: relative;
    }
    .wave{
        display: block;
        width: 100%;
       bottom:130px;
        position: absolute;
        height: 100px;
       
    }
   
    .CarreiraEmprego>div{
      width: 1100px;
    }
    .CarreiraEmpregoMother{
        height: max-content !important;
    }
.CarreiraEmprego{
        height: 800px;
      
    }
    .imgCarreiraEmprego>img{
        width: 350px;
        border-radius: 5px;
        position: absolute;
    }
    .SaberMaisCarreiraEmpregoEntrar{
        margin-left: 0;
    }
    .PessoaCell2{
        position: absolute;
        bottom: 70px;
        display: block;
        width: 500px;
        left: 5%;
    }
   
    .InfoCarreiraEmprego{
        position: absolute;
        right: 10%;
        padding-top: 20px;
    }
    .InfoCarreiraEmprego>h2{
        font-size: 40px;
        width: 500px;
    }
    .InfoCarreiraEmprego>p{
        width:500px;
    }
    .setaspessoas{
        width: 250px;
        margin-left: 10%;
        margin-top: 30px;
    }
 
}