.FormarEmprego{
    background-color: #f2f2f2;
    padding-bottom: 40px;
    overflow-x: hidden;
}
.FormarEmpregoImg>img{
    display: none;
    
}
.FormarEmpregoTexto{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-self: center;
    align-items: center;
}
.FormarEmpregoTexto>h2{
    font-size: 27px;
    text-align: center;
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;

}
.FormarEmpregoTexto>p{
    text-align: center;
    padding-left:5%;
    padding-right:5%;
}
.FormarEmpregoTexto>a{
    display: flex;
    text-decoration: none;
    font-size: 13px;
    color: black;
    font-weight: 500;
    gap: 30px;
    border: 1px solid #6e46ae;
    padding: 10px;
    border-radius: 8px;
    padding-top: 14px;
}
.FormarEmpregoTexto>a:hover{
    background-color: #6e46ae;
    color: white;
    transition: background-color 0.45s ease;
}
.FormarEmpregoTexto>a>p{
    width: 250px;
   
}
.FormarEmpregoTexto>a>img{
    width: 20px;
    height: 20px;
}
@media (min-width:700px) {
    .FormarEmprego{
        display: flex;
        gap: 80px;
        padding-top: 70px;
        padding-bottom: 70px;
        
    }
    .FormarEmpregoImg>img{
        width: 350px;
        margin-top: -10px;
    }
    .FormarEmpregoTexto{
        gap: 5px;
        width: max-content;
        padding-left: 5%;
        justify-self: left;
        align-items: flex-start;
        
    }
    .FormarEmpregoTexto>h2{
        margin-bottom: 20px;
        text-align: left;
    }
    .FormarEmpregoTexto>p{
        text-align: left;
        padding: 0;
        margin-bottom: 20px;
        
    }
    .FormarEmpregoImg>img{
        display: block;
        
    }
    
}
@media(min-width:1024px){
    .FormarEmprego{
        padding-top: 0;
      
    }
    .FormarEmpregoTexto{
        margin-left: 5%;
        margin-top: 40px;
    }
    .FormarEmpregoTexto>p{

        width: 550px;
    }
    .FormarEmpregoImg>img{
        position: absolute;
        width: 550px;
        margin-top: -30px;
        padding-right: 10%;
      
    }
    .FormarEmpregoTexto>h2{
        font-size: 39px;
        margin-top: 20px;
        width: 380px;
        padding: 0;
    
    }
   
    .FormarEmpregoTexto>a>p{
        font-size: 14px;
        width: 300px;
    }
   
    .FormarEmpregoTexto>a:hover .button-img{
        content: url('../../../assets/btn2.png');
    }

    
    
}



@media(min-width:1400px){
    .FormarEmpregoTexto>h2{
        font-size: 39px;
        margin-top: 40px;
        width: 380px;
        padding: 0;
    
    }
    .FormarEmpregoImg>img{
        width: 700px;
        right: 5vw;
    }
}

@media(min-width:1500px){
    .FormarEmpregoTexto>h2{
        font-size: 39px;
        margin-top: 60px;
        width: 380px;
        padding: 0;
    
    }
    .FormarEmpregoImg>img{
        width: 700px;
        right: 5vw;
    }
}
@media(min-width:1600px){
    .FormarEmpregoTexto>h2{
        font-size: 39px;
        margin-top: 80px;
        width: 380px;
        padding: 0;
    
    }
}
@media(min-width:1700px){
    .FormarEmpregoTexto>h2{
        font-size: 39px;
        margin-top: 100px;
        width: 380px;
        padding: 0;
    
    }
}
@media(min-width:1800px){
    .FormarEmpregoTexto>h2{
        font-size: 39px;
        margin-top: 150px;
        width: 380px;
        padding: 0;
    
    }
    .FormarEmpregoImg>img{
        width: 850px;
        right: 5vw;
    }


}
@media (min-width:2000px) {
    .FormarEmpregoTexto>h2{
        font-size: 39px;
        margin-top: 190px;
        width: 380px;
        padding: 0;
    
    }
}