@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&display=swap');

.EmpregoIntroducao{
    font-family: 'Barlow', sans-serif;
    background-image: url("../../../assets/bgLanding.png");
    background-size: cover;
}
#EmpregoIntroducaoSECTION{
    
    color: white;
     
    
}
#EmpregoIntroducaoSECTION>h2{
    font-weight: 700;
    padding-top: 30px;
    width: 310px;
    padding-left: 20px;
    color: rgb(31, 30, 30);
    font-size: 35px;
}
#EmpregoIntroducaoSECTION>h2>span{
    color:#754ee0;
    display: flex;
    gap: 10px;
}
#EmpregoIntroducaoSECTION>h2>span>span{
    display: flex;
    flex-direction: column;
    gap: 0px;
    
}
#EmpregoIntroducaoSECTION>h2>span>span>span>img{
    width: 100px;
}
.EmpregoIntroducaoPesquisa{
    text-align: center;
   width: max-content;
   margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 20px;
    row-gap: 10px;
    column-gap: 1px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px  10px rgb(192, 192, 192);
    padding-top: 15px;
    padding-bottom: 15px;
    
    
}
.CategoriaEmpregoIntroducaoPesquisa{
    color: black;
    display: flex;
    font-size: 14px;
    gap: 7px;
    padding-left: 10px;
    background-color: white;
    border-right: 1px solid rgb(150, 148, 148);
    padding-right: 10px;
    
    
}
.CategoriaEmpregoIntroducaoPesquisa>img{
    width: 20px;
    height: 20px;
    margin-top: 5px;
    
}
.CategoriaEmpregoIntroducaoPesquisa>p{
    font-weight: 500;
    padding-top: 7px;
    color: rgb(78, 77, 77);
}
.CategoriaEmpregoIntroducaoPesquisa>p:hover{
    cursor: pointer;
}
.CategoriaEmpregoIntroducaoPesquisa>p>img{
    margin-left: 10px;
}
.CategoriaEmpregoIntroducaoPesquisa>p>select{
    border: none;
    outline: none;
    font-weight: 600;
    font-family: 'Barlow', sans-serif;
    
}
.categoriaInvisvel{
    display: none;
}
.categoriaVisivel{
    position: absolute;
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
    width: 132px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;

}
.categoriaVisivel>a:hover{
    background-color: #6e46ae;
    color: white;
}

.categoriaVisivel>a{
    color: black;
    font-weight: 500;
   
    padding-top: 5px;
    padding-bottom: 5px;
    
    
}

.categoriaVisivel>li>a:hover{
    color: white;
    width: 132px;
}
.CategoriaEmpregoIntroducaoPesquisa>p>select>option{
    outline: none;
}
#InputPesquisaEmprego{
   width: calc(100vw - 172px) !important;
  padding-left: 15px;
   padding-top: 10px;
   padding-bottom: 10px;
   border: none;
   outline: none;
  
}
#InputPesquisaEmprego:hover{
    outline: none;
}
#InputPesquisaEmprego:hover{
    outline: none;
}
#InputPesquisaEmprego::placeholder{
    color: rgb(189, 189, 189);
    font-weight: 400;
    font-size: 13px;
    font-family:"barlow";
}
.BotaoPesquisaEmprego{
    font-size: 15px;
    background-color: #6b25dd;
    padding-bottom: 12px;
    padding-top: 8px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #6c25dd3f;

}
.BotaoPesquisaEmprego:hover{
    background-color: #46198f;
    cursor: pointer;
    transition: background-color 0.35s ease;
}
.BotaoPesquisaEmprego>img{
    width: 25px;
    height: 25px;
}
.BotaoPesquisaEmprego>p{
    margin-top: 4px;
    font-weight: 700;
}
.HomemOculosBack{
    display: none;
}
.MarketingCriarConta{
    font-size: 14px;
    width: max-content;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
}
.MarketingCriarConta>p>span{
    font-weight: 700;

}
.MarketingCriarConta>p>span>a{
    text-decoration: none;
    color: #6b25dd;
}
.MarketingCriarConta>p>span>a:hover{
    color: #6b25dd;
    transition: color 0.87s ease;
    cursor: pointer;
}
.MaisPesquisadas{
   font-size: 14px;
    padding-left: 20px;
    color: rgb(82, 81, 81);
    font-weight: 400;
    margin-top: 40px;
}
.MaisPesquisadas>article{
margin-top: 20px;
display: flex;
flex-direction: row;
gap: 10px;

overflow-x: auto;
padding-bottom: 30px;


}
.MaisPesquisadas>article>a{
    display: flex;
    font-size: 13px;
    gap: 5px;
    background-color: #6b25dd;
    padding: 7px 22px;
    border-radius: 10px;
    text-decoration: none;
    width: max-content;
    padding-bottom: 11px;
    box-shadow: 0px 0px 10px #6c25dd3f;
    

}
.MaisPesquisadas>article>a:hover{
    background-color: #46198f;
    cursor: pointer;
    transition: background-color 0.35s ease;
}
.MaisPesquisadas>article>a>img{
    width: 25px;
    height: 25px;
}
.MaisPesquisadas>article>a>p{
    margin-top: 4px;
    font-weight: 700;
    color: white;
}
.intersect{
    display: none;
   
}

@media (min-width:700px) {
    .EmpregoIntroducao{
        position: relative;
        width: 100%;
        z-index: 123;
    }
    #EmpregoIntroducaoSECTION{
        padding: 40px 2%; 
        position: relative;
        z-index: 1231;       
    }
    #EmpregoIntroducaoSECTION>h2{
        font-size: 38px;
        width: 350px;
    }
    .EmpregoIntroducaoPesquisa{
        grid-template-columns: auto auto auto;
        background-color: white;
        width: 500px;
        padding: 10px 10px;
        position: relative;
        margin-left: 3%;
    }
    #InputPesquisaEmprego{
        width: calc(300px) !important;
       
     }
    .BotaoPesquisaEmprego{
        width: max-content;
        height: max-content;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        padding: 5px 20px;
        padding-bottom: 11px;
    }
    .MaisPesquisadas{
        width: max-content;
        margin: auto;
        margin-top: 40px;
        margin-left: 2%;
    }
    .MaisPesquisadas>article{
        flex-direction: row;
    }
    .HomemOculosBack{
        display: block;
        position: absolute;
        height: 450px;
        margin-top: -450px;
        left: 100%;
        transform: translateX(-100%);
        z-index: 2;
    }
    .intersect{
        display: block;
        position: absolute;
        z-index:1;
        bottom: 0;
        right: 0;
    }
    
}
@media (min-width:1024px){
    #EmpregoIntroducaoSECTION>h2>span{
        display: flex;
    }
    #EmpregoIntroducaoSECTION{
        padding: 30px 10%; 
               
    }
    #EmpregoIntroducaoSECTION>h2>span>span>span>img{
        width: 130px;
        display: block;
        margin-top: 0px;
    }

    .categoriaVisivel>a{
       font-size: 14px;
        
        
    }
    .categoriaVisivel{
        width: 200px;
    }

    #EmpregoIntroducaoSECTION>h2{
        font-size: 46px;
        font-weight: 700;
        padding-left: 0;
        width: 650px;
        margin-bottom: 30px;
    }
    .EmpregoIntroducaoPesquisa{
        width: 600px;
        margin-left: 0%;
    }
    
    
    .CategoriaEmpregoIntroducaoPesquisa{
        gap: 20px;
        
    }
    .CategoriaEmpregoIntroducaoPesquisa>p{
        margin-top: -1px;
        font-size: 15px;
     
        
    }
    .CategoriaEmpregoIntroducaoPesquisa>p>select{
        font-size: 15px;
        cursor: pointer;

    }
    .MaisPesquisadas{
        margin-left: 0;
    }
    .HomemOculosBack{
        height: 470px;
        bottom: 0;
        left: 80%;
        transform: translateX(-80%);
    }
}