.ForgetPassword{
   
    font-family: 'Montserrat';
    margin-left: 10px;
    margin-top: 30px;
}
.ForgetPassword>h2{
    font-size: 19px;
}
.ForgetPassword>p{
    margin-top: 10px;
    margin-right: 10px;
    font-size: 15px;
    font-weight: 500;
    color: rgb(110, 110, 110);
}
.ForgetPassword>form{
    
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 15px;
    margin-right: 10px;
    gap: 10px;
   
    
}
.ForgetPassword>form>input{
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
    border: 1px solid rgb(163, 163, 163);
    font-family: 'Montserrat';
    font-weight: 500;
    color: rgb(44, 44, 44);
    outline:none  ;
    padding-left: 10px;
}
.ForgetPassword>form>input:hover{
    border: 1px solid #6e46ae;
}
.ForgetPassword>form>input::placeholder{
    
    color: rgb(124, 123, 123);
}
.ForgetPassword>form>button{
    background-color: #6e46ae;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
    color: white;
    font-family: 'Montserrat';
    font-weight: 600;
}
.ForgetPassword>form>button:hover{
    background-color: #8c50ec;
    cursor: pointer;
  
}
@media (min-width:700px) {
    .ForgetPassword{
        width: 400px;
        position: absolute;
        text-align: center;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-40%);
    }
    .ForgetPassword>h2{
        font-size: 24px;
    }
    .ForgetPassword>p{
        text-align: left;
    }
    .ForgetPassword>form>input{
        padding-top: 10px;
        padding-bottom: 10px;
       
    }
    .ForgetPassword>form>button{
        
        padding-top: 10px;
        padding-bottom: 10px;
        
    }
}