@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&display=swap');


.OprtunidadesEmprego{
    font-family: 'Barlow', sans-serif;
    margin-top: 70px;
}
.OprtunidadesEmprego>h2{
    font-size: 20px;
    width: 250px;
    margin: auto;
    text-align: center;

}
.FiltragemNiveisSECTION{
    
}
.FiltragemNiveisSECTION>h2{
    font-size: 18px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.FiltragemNiveisArticleOVERVIEW>p{
    font-size: 16px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.ArticleNivies{
   text-align: center;
   margin-top: 30px;
   
}

.BoxEmpregoExperiencia{
     text-decoration: none;
    width: 200px !important;
    margin: auto!important;
   color: black;
    border: 2px solid #9ca3af;
    border-radius: 10px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.BoxEmpregoExperiencia:hover{
    background-color: #e9e9e9;
}
.BoxEmpregoExperiencia2{
    width: 200px !important;
    margin: auto!important;
  

   
    border-radius: 10px;
    text-align: center;
   height: 170px;
   position: relative;
   background-color: #eeeeee;
}

.BoxEmpregoExperiencia2>img{
    width: 110px !important;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
filter: invert(50%);



 
}
.BoxEmpregoExperiencia2>img:hover{
 cursor: pointer;
 filter: invert(0%);
 mix-blend-mode: normal;
 transition: filter 0.15s ease-in-out;
}
.BoxEmpregoExperiencia>h2{
    font-size: 14px;
}
.BoxEmpregoExperiencia>p{
    font-size: 12px;
    color: #9d9fa3;
    margin-top: 10px;
}
.BoxEmpregoExperiencia>div{
    display: flex;
    gap: 5px;
    justify-content: center;
    margin-top: 10px;
    
}
.BoxEmpregoExperiencia>div>a{
    text-decoration: none;
    color:#6e46ae;
    font-size: 13px;
    font-weight: 500;
  
    
}
.BoxEmpregoExperiencia>div>img{
    width: 15px;

}
.TodasVagas{
    background-color: #6e46ae;
    color: white;
    text-decoration: none;
    font-size: 13px;
    padding: 7px 20px;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    display: block;
    width: max-content;
    margin: auto;
    border-radius: 7px;
    margin-bottom: 20px;
   
   
}
.TodasVagas:hover{
    background-color: #8956db;
}
#TodasEmpresas{
    background-color: #0eb5b2;
}
#TodasEmpresas:hover{
    background-color: #13d6d3;
}
.FiltragemNiveisArticle{
    margin-bottom: 30px;
}
.ArticleNivies>.slick-slider>.slick-prev{
    display: block !important;
    position: absolute;
    top: -39px;
    left: 82% !important;
    width: 15px !important;
   
}
.slick-prev::before{
    display: none;
}
.slick-next::before{
    display: none;
}
.ArticleNivies>.slick-slider>.slick-next{
    display: block !important;
    position: absolute;
    top: -39px;
    right: 5% !important;
    width: 15px !important;
}
.LinhaEmprego1{
    display: none;
}
.LinhaEmprego2{
    display: none;
}


@media(min-width:700px){
    .OprtunidadesEmprego>h2{
        width: 500px;
        font-size: 23px;
    }
    .ArticleNivies>.slick-slider>.slick-prev{
        display: block !important;
        position: absolute;
        top: -39px;
        left: 83% !important;
       
    }
    .ArticleNivies>.slick-slider>.slick-next{
        display: block !important;
        position: absolute;
        top: -39px;
        right: 5% !important;
    }
    
}
@media (min-width:1024px) {
    .LinhaEmprego1{
        display: block;
            width: 25%;
            height: 1px;
        background-color: #d4d4d4;
        position: absolute;
        margin-top: 40px;
        left: 0;
            
    }
    .LinhaEmprego2{
        display: block;
            width: 25%;
            height: 1px;
        background-color: #d4d4d4;
        position: absolute;
        margin-top: -20px;
        right: 0;
            
    }
    .OprtunidadesEmprego>h2{
        margin-top: 60px;
        width: 500px;
        font-size: 27px;
        font-weight: 700;
    }
    .FiltragemNiveisSECTION{
        width: 1000px;
        margin: auto;
        margin-bottom: 70px;
        margin-top: 70px;
 
    }
    .FiltragemNiveisArticleOVERVIEW{
        display: flex;
        position: relative;
        font-size: 12px;
    }
    .FiltragemNiveisArticleOVERVIEW>p{
        font-size: 15px;
        color: #9ca3af;
        font-weight: 500;
    }
    #FiltragemNiveisArticleOVERVIEW2{
        position: absolute;
        right: 6%;
    }
  
   
    .ArticleNivies>.slick-slider>.slick-prev{
        width: 10px !important;
        top: -49px;
        left: 96% !important;
       
    }
    .ArticleNivies>.slick-slider>.slick-next{
        width: 10px !important;
        top: -49px;
        right: 0% !important;
    }
}
@media (min-width: 1200px) {
    .FiltragemNiveisSECTION{
        width: 1100px;
     
        margin-bottom: 90px;
    }
}