@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&display=swap');


.OprtunidadesEmprego{
    font-family: 'Grandis', sans-serif;
    margin-top: 70px;
}
.OprtunidadesEmprego>h2{
    font-size: 24px;
    width: 320px;
    margin: auto;
  text-align: center;
  color: rgb(27, 27, 27);
  margin-bottom: 30px;
   

}
.FiltragemNiveisSECTION{
    
}
.FiltragemNiveisSECTION>h2{
    font-size: 16px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    color: rgb(27, 27, 27);
}
.FiltragemNiveisArticleOVERVIEW>p{
    font-size: 14px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
}
.ArticleNivies{
   text-align: center;
   margin-top: 30px;
   
}

.BoxEmpregoExperiencia{
     text-decoration: none;
    width: 250px !important;
    height: 185px;
    margin: auto!important;
   color: black;
    border: 1px solid #6e46ae;
 
    border-radius: 10px;
    
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px !important;
    
    
}
.BoxEmpregoExperiencia:hover{
    box-shadow: 0px 6px 5px  #c1a2f3;
}
.BoxEmpregoExperiencia>img{
    width: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.BoxEmpregoExperiencia:hover{

}
.BoxEmpregoExperiencia2{
    width: 200px !important;
    margin: auto!important;
  

   
    border-radius: 10px;
    text-align: center;
   height: 170px;
   position: relative;
   
}

.BoxEmpregoExperiencia2>img{
    width: 110px !important;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
filter: invert(50%);



 
}
.BoxEmpregoExperiencia2>img:hover{
 cursor: pointer;
 filter: invert(0%);
 mix-blend-mode: normal;
 transition: filter 0.15s ease-in-out;
}
.BoxEmpregoExperiencia>h2{
    font-size: 17px;
    width: 160px;
    text-align: left;
    margin-left: 20px;
    color: rgb(56, 56, 56);

}
.BoxEmpregoExperiencia>p{
    font-size: 14px;
    color: #6d6d6d;
    margin-top: 5px;
    text-align: left;
    margin-left: 20px;
    
}
#ArticleNiviesBulltes>.slick-slider>.slick-dots{
    display: none !important;
}
.BoxEmpregoExperiencia>div{
    
    margin-top: 10px;
    margin-left: 20px;
    border: 1px solid #6e46ae;
    width: max-content;
    padding: 7px 12px;
    border-radius: 15px;
    position: absolute;
    bottom: 40px;
    color:#6e46ae;
    
}
.BoxEmpregoExperiencia>div>a{
    text-decoration: none;
    
    font-size: 13px;
    font-weight: 600;
    text-align: left; 
    
}
.BoxEmpregoExperiencia>div>a:hover{
    color: white;
}
.BoxEmpregoExperiencia>div:hover{
    background-color: #6e46ae;
    color: white !important;
}

.BoxEmpregoExperiencia>div:hover .ExplorVagasLiNkHover{
    color: white !important;
}

.BoxEmpregoExperiencia>div>img{
    width: 15px;

}
.TodasVagas{
    background-color: #6e46ae33;
    color: #6e46ae;
    text-decoration: none;
    font-size: 16px;
    padding: 12px 25px;
    font-family: 'Grandis', sans-serif;
    font-weight: 600;
    display: block;
    width: max-content;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 80px;
    margin-top: 50px !important;
   
   
}
.TodasVagas:hover{
    background-color: #eadeff;
}
#TodasEmpresas{
    background-color: #6e46ae;
    color: white;
    
}
#TodasEmpresas:hover{
    background-color: #784cc0;
}
.FiltragemNiveisArticle{
    margin-bottom: 30px;
}
.ArticleNivies>.slick-slider>.slick-prev{
    display: block !important;
    position: absolute;
    top: -39px;
    left: calc(100% - 65px) !important;
    width: 15px !important;
   
}
.slick-prev::before{
    display: none;
}
.slick-next::before{
    display: none;
}
.ArticleNivies>.slick-slider>.slick-next{
    display: block !important;
    position: absolute;
    top: -39px;
    right: 20px !important;
    width: 15px !important;
}
.LinhaEmprego1{
    display: none;
}
.LinhaEmprego2{
    display: none;
}


@media(min-width:700px){
    .OprtunidadesEmprego>h2{
        width: 500px;
        font-size: 29px;
    }
    .ArticleNivies>.slick-slider>.slick-prev{
        display: block !important;
        position: absolute;
        top: -39px;
        left: 83% !important;
       
    }
    .ArticleNivies>.slick-slider>.slick-next{
        display: block !important;
        position: absolute;
        top: -39px;
        right: 5% !important;
    }
    .FiltragemNiveisSECTION>h2{
        font-size: 21px;
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 10px;
        color: rgb(27, 27, 27);
    }
    .FiltragemNiveisArticleOVERVIEW>p{
        font-size: 17px;
        margin-left: 20px;
        margin-bottom: 10px;
        margin-right: 20px;
    }
    
}
@media (min-width:1024px) {
    .LinhaEmprego1{
        display: block;
            width: 25%;
            height: 1px;
        background-color: #d4d4d4;
        position: absolute;
        margin-top: 45px;
        left: 0;
            
    }
    .BoxEmpregoExperiencia2>img{
        width: 180px !important;
    } .LinhaEmprego2{
        display: block;
            width: 25%;
            height: 1px;
        background-color: #d4d4d4;
        position: absolute;
        margin-top: -70px;
        right: 0;
            
    }
    .OprtunidadesEmprego>h2{
        margin-top: 60px;
        width: 600px;
        font-size: 35px;
        font-weight: 700;
        color: rgb(51, 51, 51);
    }
    .FiltragemNiveisSECTION{
        width: 1000px;
        margin: auto;
        margin-bottom: 70px;
        margin-top: 70px;
 
    }
    .FiltragemNiveisArticleOVERVIEW{
        display: flex;
        position: relative;
        font-size: 12px;
    }
    .FiltragemNiveisArticleOVERVIEW>p{
        font-size: 15px;
        color: #727272;
        font-weight: 400;
    }
    #FiltragemNiveisArticleOVERVIEW2{
        position: absolute;
        right: 6%;
    }
  
   
    .ArticleNivies>.slick-slider>.slick-prev{
        width: 10px !important;
        top: -49px;
        left: 96% !important;
       
    }
    .ArticleNivies>.slick-slider>.slick-next{
        width: 10px !important;
        top: -49px;
        right: 0% !important;
    }
}
@media (min-width: 1200px) {
    .FiltragemNiveisSECTION{
        width: 1100px;
     
        margin-bottom: 90px;
    }
}