@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.ResumoCv3{

border-radius: 5px;
box-shadow: 0px 0px 5px rgb(192, 192, 192);
display: flex;

font-family: "Barlow";
height: max-content !important;
position: relative;



}
.ResumoCV3MAE{
    width: 55%;
    position: relative;
    transform: scale(0.6);
    margin-top: -165px;
    height: 100%;
}

@media (max-width:1023px) {
    .ResumoCV3MAE{
        width: 80%;
        position: relative;
        transform: scale(0.0);
    
    }
}

.ResumoCV3Parte1{
    width: 40%;
    background-color: rgb(233, 233, 233);
    position: relative;
    color: rgb(0, 0, 0);
    padding-left: 40px;
    gap: 20px;
    padding-right: 10px;
    display:flex;
    flex-direction: column;
    padding-bottom: 60px;
   
   
    
}



.HeaderResumo3{
    margin-top: 90px;
   
    padding-top: 25px;
    margin-left: -20px;
    padding-bottom: 25px;
    padding-left: 40px;

}
.NomeResumo3{
    font-weight: 800;
    font-size: 37px;
    width: 250px;
    height: max-content;
    word-wrap: break-word; 
    color: white;
   
}
.ProfissaoResumo3{
    
    font-size: 19px;
    width: 250px;
    height: max-content;
    word-wrap: break-word; 
    
    color: rgb(206, 204, 204);
   
}
.ResumoCV3Parte11{
    background-color: rgb(22, 22, 22);
    width: calc(100% + 50px) !important;
    margin-left: -40px;
    padding-left: 20px;
    padding-bottom: 120px;
    border-radius: 0px 0px 160px 160px ;
   
}
.ResumoCV3Parte1>article{
    border-left: 1px solid rgb(141, 141, 141);
    margin-left: 30px;
    padding-left: 10px;
}
.TituloContacto3{
   margin-top: 10px;
    font-size: 25px;
    font-weight: 800;
    margin-left: -12px;
    border-radius: 2px;
    padding-left: 10px;
    color: rgb(255, 255, 255);

}

.ResumoCV3Parte22{
    padding-top: 60px;
    background-color: rgb(39, 39, 39);
    width: 30%;
    padding-left: 20px;
    height: 100vh;

}

.Triangulo{
    width:calc(100% + 20px) ;
    margin-left: -10px;
    
    
}
.ContactoLinks3{
    color: rgb(56, 56, 56);
    display: flex;
    flex-direction: column;
    margin-top: -30px;
    
}
.ContactoLinks3SubTitle{
    width: 160px;
    height: max-content;
    word-wrap: break-word; /* Alternativa: word-break: break-all; */
    font-size: 15px;
    color: rgb(255, 255, 255);
    margin-top: 50px;
    font-weight: 600;

   
    
}
.TextoProjectoResumoCV3{
    font-size: 15px;
    color: rgb(148, 148, 148);
    width: 200px;
    height: max-content;
    word-wrap: break-word; 
    margin-top: 5px;

    
}
.ContactoLinksDiv3Link{
    font-size: 16px;
    display: flex;
    gap:5px;
    margin-top:10px;
    color: rgb(56, 56, 56);
    
}
.ContactoLinksDiv31Link{
    font-size: 16px;
    display: flex;
    gap:5px;
    margin-top:10px;
    color: rgb(146, 146, 146);
}
.ResumoCV3Parte12{
    background-color: rgb(22, 22, 22);
    width: calc(100% + 50px) !important;
    margin-left: -40px;
    padding-left: 40px;
    padding-top: 80px;
    border-radius: 160px 160px 0px 0px ;
    
    padding-bottom: 60px;
    
    
}
.ContactoLinksDiv3Link>svg{
    width:15px;
}
.ContactoLinksDiv3Link > p {
    width: 150px;
    height: max-content;
    word-wrap: break-word; /* Alternativa: word-break: break-all; */
}
.ContactoLinksDiv31Link > p {
    width: 150px;
    height: max-content;
    word-wrap: break-word; /* Alternativa: word-break: break-all; */
}

.ResumoCV3Parte2{
    padding-top: 100px;
    width: 100%;
    padding-left: 40px;
    display: flex;
    background-color: white;
}
.ResumoCV3Parte21{
    width: 70%;
}

.parte3ResumoCv3Divs{
    margin-top: 70px;
}
.Title3parteResumoCV3{
    font-size: 27px;
    color: rgb(39, 39, 39);
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: 800;
    width: max-content;
    padding-bottom: 7px;
}
.Paragrafo3parteResumoCV3{
    width: 300px;
    height: max-content;
    word-wrap: break-word; /* Alternativa: word-break: break-all; */
    color: rgb(85, 85, 85);
    font-size: 16px;

}
.Positionparte3ResumoCV3{
    font-weight: 700;
    font-size: 19px;
    width: 190px;
    word-wrap: break-word;
  
}
.Companyparte3ResumoCV3{
    color: rgb(54, 54, 54);
    font-weight: 600;
    margin-bottom: 10px;
}
.IntroExperienciaParte3ResuoCV3{
    display:  flex;
    gap: 30px;
}